<mat-list>
    <h3 matSubheader>Accounts</h3>
    <mat-list-item *ngFor="let account of accounts">
        <h4 matLine>{{account.name}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>